.content {
  padding: 50px;
  background-color: #e5e5e5;
}
.header {
  padding: 0px 40px 40px 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  color: #000;
  font-size: 40px;
}
.order {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.order_card {
  margin: 15px;
  border: 1px solid #96b6b1;
  padding: 20px;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
}
.order_card_title {
  text-align: center;
  margin: 20px;
}
.order_card_price {
  padding: 0px 0px 20px 0px;
}
.order_card_quantity {
  padding: 0px 0px 20px 0px;
}
.order_card_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order_card_button {
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
}
.minus {
  background-color: #bb3d50;
}
.plus {
  background-color: #129763;
}
